body {
      background-color: lightblue;
      font-size: 150%;
    }
    
.myClass {
      background-color: gray;
      color: blue
    }
    
.summer {
  background-color: yellow;
  border: green 25px solid;
  text-align: center;
  cursor: pointer;
}


#savannahClass {
  color: skyblue;
  
}